In [1]:
import tensorflow as tf
import pandas as pd
import matplotlib.pyplot as plt

### Load data

In [4]:
boston_data = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/Boston_Housing/Training_set_boston.csv")
boston_data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,15.02340,0.0,18.10,0.0,0.6140,5.304,97.3,2.1007,24.0,666.0,20.2,349.48,24.91,12.0
1,0.62739,0.0,8.14,0.0,0.5380,5.834,56.5,4.4986,4.0,307.0,21.0,395.62,8.47,19.9
2,0.03466,35.0,6.06,0.0,0.4379,6.031,23.3,6.6407,1.0,304.0,16.9,362.25,7.83,19.4
3,7.05042,0.0,18.10,0.0,0.6140,6.103,85.1,2.0218,24.0,666.0,20.2,2.52,23.29,13.4
4,0.72580,0.0,8.14,0.0,0.5380,5.727,69.5,3.7965,4.0,307.0,21.0,390.95,11.28,18.2

In [5]:
# separate IV and DV (input and output)
X = boston_data.drop('MEDV', axis=1)
y = boston_data.MEDV

### Split the data

In [7]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [9]:
n_features = X.shape[1]
n_features

13

### Training

1. Define model
2. Compile model
3. Fit the model
4. Make predictions
5. Evaluate the model

In [10]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from numpy.random import seed

In [11]:
model = Sequential()
model.add(Dense(10, activation='relu', input_shape=(n_features,)))
model.add(Dense(8, activation='relu'))
model.add(Dense(1))

In [12]:
from tensorflow.keras.optimizers import RMSprop

lr = 0.01
optimizer = RMSprop(lr)

In [13]:
model.compile(loss='mean_squared_error', optimizer=optimizer)

In [15]:
seed_value = 42
seed(seed_value)

import os
os.environ['PYTHONHASHSEED']=str(seed_value)

import random
random.seed(seed_value)

tf.random.set_seed(seed_value)
model.fit(X_train,y_train, epochs=10, batch_size=32, verbose=1)

Epoch 1/10
11/11 [==============================] - 1s 1ms/step - loss: 10353.8151
Epoch 2/10
11/11 [==============================] - 0s 1ms/step - loss: 155.1191
Epoch 3/10
11/11 [==============================] - 0s 1ms/step - loss: 112.4476
Epoch 4/10
11/11 [==============================] - 0s 1ms/step - loss: 99.6546
Epoch 5/10
11/11 [==============================] - 0s 1ms/step - loss: 77.1352
Epoch 6/10
11/11 [==============================] - 0s 1ms/step - loss: 84.4705
Epoch 7/10
11/11 [==============================] - 0s 1ms/step - loss: 89.5894
Epoch 8/10
11/11 [==============================] - 0s 1ms/step - loss: 93.6872
Epoch 9/10
11/11 [==============================] - 0s 999us/step - loss: 89.6290
Epoch 10/10
11/11 [==============================] - 0s 1ms/step - loss: 71.8461

In [16]:
model.evaluate(X_test, y_test)

3/3 [==============================] - 0s 2ms/step - loss: 82.0911

82.09109497070312